 .hero {
    text-align: center;
    background-color: #111;
    color: white;
    padding: 15px 0;
}

.hero h1 {
    font-size: 35px;
    color: white;
}

.hero p {
    font-size: 25px;
    color: white;
}

.about {
    text-align: center;
    background-color: #1b5e20;
    color: white;
    padding: 15px 0;
    margin-top: 20px;
}
.about h2 {
    font-size: 30px;
    color: white;
}
.about p {
    font-size: 25px;
    color: white;
}
.projects {
    text-align: center;
    color: white;
    padding: 40px 10px;
    background-color:#111;
    margin-top: 20px;
}
.propject-container {
    display:flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

}
.project-card {
    background-color: royalblue;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    gap: 20px;
}

.project-card a {
    text-decoration: none;
    color: orange;
    background: green;
    padding: 0 5px;
    border-radius: 6px;
}

.projects h2 {
    font-size: 30px;
}

.project-card :hover {
    transform: translate(-5px);
    box-shadow: 0 0 20px green;
}

.contact {
    padding: 80px 20px;
    text-align: center;
    background: #f5f5f5;
}

.contact a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: green;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
#typing::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: bisque;
    color: white;
    font-size: 25px;
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}

.whatsapp:hover {
    transform: scale(1.1);
}
