.hero {
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  background: linear-gradient(135deg, #1e3a8a, #2563eb);
  color: white;

}

.hero-left {
  max-width: 50%;
}

.hero h1 {
  font-size: 25px;
}

.hero p {
  margin: 15px 0;
  font-size: 15px;
}

 
